<div class="grid-container">
    <h1 class="mat-h1">Pay New Bill</h1>
    
  
    <table class="table table-hover">
      <!--class="mat-elevation-z8 table table-striped"-->
      <tr>
          <td>
            <mat-form-field appearance="fill">
                <mat-label>Biller Category</mat-label>
                <mat-select >
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Telecommunication</mat-option>
                  <mat-option value="option2">Electricity</mat-option>
                  <mat-option value="option3">Education</mat-option>
                  <mat-option value="option4">Government Services</mat-option>
                  <mat-option value="option5">Charity</mat-option>
                </mat-select>
              </mat-form-field>
          </td>

          <td>
            <mat-form-field appearance="fill">
                <mat-label>Biller Name</mat-label>
                <mat-select >
                  <mat-option>None</mat-option>
                  <mat-option value="option1">T-Mobile</mat-option>
                  <mat-option value="option2">Netflix</mat-option>
                  <mat-option value="option3">George Mason University</mat-option>
                </mat-select>
              </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
                <mat-label>Service Type</mat-label>
                <mat-select >
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Prepaid</mat-option>
                  <mat-option value="option2">Balance</mat-option>
                  <mat-option value="option3">Energy Bill</mat-option>
                </mat-select>
           
            </mat-form-field>
          </td>
          <td>
            <mat-form-field  appearance="fill">
                <mat-label>Billing Number</mat-label>
                <input matInput>
              </mat-form-field>
          </td>
      </tr>
      
    </table>

    <div  style="margin-top:20px;">
        <button type="button" class="btn btn-success" style="position: absolute;
        right: 70px;">Inquire</button>
    </div>
    </div>
  